* {
  box-sizing: border-box;

}

#wrap {
  max-width: 1326px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: Avenir;
  min-height: 100vh;
  color: #22232b;
}

@media screen and (max-width: 500px) {
  #wrap {
    min-width: 470px;

    min-height: 800px;

  }

}

/* * * * * TOP NAV * * * *  */

.nav_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.logo_wrapper {
  align-self: center;
}

.logo_wrapper img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.top_nav {
  display: flex;

}

.nav_container .top_nav ul {
  margin: 4px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-self: center;

  width: 300px;
}

.nav_container .top_nav ul li {
  display: inline-block;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  margin: 3px;
  text-transform: uppercase;
  color: rgba(34, 35, 43, 0.4);
}

/* main .nav_container nav .ul_nav_start li:last-child {
  margin-right: 0;
} */

.nav_container .top_nav ul li a {
  color: black;
  text-decoration: none;
  transition: 0.2s;
}

.nav_container .top_nav ul li a:hover {
  color: #00c98d;
}

@media screen and (max-width: 500px) {
  .nav_container {
    position: relative;
    margin: 0;
    min-width: 470px;
  }

  .top_nav {
    position: absolute;
    width: 100%;
    float: right;
    display: block;
  }

  .top_nav ul:not(:first-child) {
    display: none;
  }


  .logo_wrapper {
    position: absolute;
    top: 35px;
    right: 15px;
  }


}



/* * * * * END TOP NAV * * * *  */

/* * * * * Right NAV * * * * */

.right_nav {
  width: 12%;
}


.right_nav ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
  list-style: none;
}

.right_nav ul li {
  display: flex;
  align-self: center;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  text-transform: uppercase;
  color: #22232b;
}

.right_nav ul li img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.cart_items {
  justify-self: flex-end;
  align-self: flex-end;
  font-size: 0.8em;
  text-align: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #00C98D;
  color: white;
}

@media screen and (max-width: 500px) {
  .nav_container .right_nav ul li.cart img {
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    top: 29px;
    right: 110px;

  }

  .nav_container .right_nav ul li.login {
    position: absolute;
    display: none;
  }

}

/* * * * * * * * * * * * * * * * * * *  */

/* * * * * * *  Search Nav * * * * * *  */

.search_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-top: 50px;
}

.search_wrapper {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid rgba(151, 151, 151, 0.4);
  width: 60%;
}

.search_wrapper img {
  display: flex;
  align-self: center;
}

/* ****** - - - - - DropDown Menu - - - - -******* */

.dropdown {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;

}

.bestMatchContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(151, 151, 151, 0.4);
  width: 100%;
  height: 40px;
}

.dropdown .dropdownBtn {
  display: flex;
  align-self: center;
}

.dropdown p {
  display: flex;
  align-self: center;
  margin-bottom: 10px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #22232b;
}

.sortBy_dropdown {
  position: absolute;
  padding: 0;
  background-color: white;
  top: 50px;
  min-width: 200px;
  list-style: none;
  z-index: 1;
}

.sortBy_dropdown li {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  margin: 10px;
  font-size: 15px;
  line-height: 25px;
  color: #22232b;
}

@media screen and (max-width: 500px) {

  .search_container {
    min-width: 470px;
    margin-top: 70px;
  }

  .search_wrapper {
    margin: 0px 30px 0px 30px;
    border-bottom: 2px solid rgba(151, 151, 151, 0.4);
    width: 100%;
  }

  .dropdown {
    display: none;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * G A L L E R I A * * * * * * * * * */

.mySlides {
  display: none
}

img {
  vertical-align: middle;

}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  max-width: 1375px;
  margin-top: 50px;
  height: 80%;


}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.text {
  padding: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;

  max-height: 1000px;
  background: rgb(0, 0, 0);
  /* Fallback color */
  background: rgba(0, 0, 0, 0.2);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
}

.text h2 {
  margin: 0;
  background-clip: text;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 66px;
  color: #ffffff;
}

.text h3 {
  margin: 0;
  font-family: Avenir;
  font-style: normal;
  text-decoration: underline;
  font-weight: normal;
  font-size: 26px;
  line-height: 36px;
  color: #ffffff;
}



.active,
.dot:hover {
  background-color: #717171;
}



@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 500px) {

  .slideshow-container {
    position: relative;
    margin-top: 50px;
    width: 470px;
    height: 400px;
    overflow: hidden;
  }

  .mySlides {
    width: 470px;
    height: 450px;

  }

  .mySlides img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }

  .text {
    padding: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 305px;
    background: rgb(0, 0, 0);

    background: rgba(0, 0, 0, 0.2);

    color: #f1f1f1;
  }

  .text h2 {
    margin: 0;
    background-clip: text;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 20px;
    color: #ffffff;
  }

  .text h3 {
    margin: 0;
    font-family: Avenir;
    font-style: normal;
    text-decoration: underline;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
  }


  .prev,
  .next,
  .text {
    font-size: 30px
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *  */

/* * * * * * * * * * * F O O T E R * * * * * * * * * * * * */
hr {
  max-width: 1375px;
  margin-top: 100px;
  border: 1px soli;
  background: #1b1b1b;
  mix-blend-mode: normal;
  opacity: 0.1;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

footer {
  max-width: 1375px;
  float: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
}

.footer_nav_container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  bottom: 121px;
}

/* * * * * * * * M A I N * F O O T E R * N A V * * * * *   */
.footer_main_nav {
  width: 50%;
}

.footer_nav_container .footer_main_nav ul {
  display: flex;
  justify-content: space-between;
  align-self: center;
  list-style: none;
}

.footer_nav_container .footer_main_nav ul li {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #22232b;
}

/* * * * * * * Social Networks Icons Nav * * * * * *  */

.footer_nav_container .footer_social_nav {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 10%;
}

.social_wrapper {
  width: 25px;
  height: 25px;
}

.social_wrapper img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

@media only screen and (max-width: 500px) {

  hr {
    display: none;
  }

  footer {

    position: relative;
    top: 10px;
    min-width: 470px;
    min-height: 200px;
    float: center;
    margin: auto;

  }

  .footer_nav_container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .footer_main_nav {
    width: 50%;
  }

  .footer_nav_container .footer_main_nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-left: 60px;
    width: 350px;
  }

  .footer_nav_container .footer_main_nav ul li {
    font-display: flex;
    justify-content: center;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #22232b;
    width: 150px;
    margin-top: 10px;
  }

  /* * * * * * * Social Networks Icons Nav * * * * * *  */

  .footer_nav_container .footer_social_nav {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    width: 250px;
    height: 50px;

  }

  .social_wrapper {
    width: 35px;
    height: 35px;
  }

  .social_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

}

/* * * * * * * * * * * * * * * * * * * * * * * **/