* {
  box-sizing: border-box;
}

#wrap {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: Avenir;
  min-height: 100vh;
  color: #22232b;
  max-width: 1326px;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  #wrap {
    min-width: 550px;
    min-height: 800px;
    margin: 0;
    padding: 0;
  }
}

/* * * * * TOP NAV * * * *  */

.nav_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

label #btn,
#cancel {
  position: absolute;
  color: black;
  font-size: 40px;
  right: 35px;
  top: 14px;
  line-height: 120px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

#checkCancel {
  display: none;
}

.nav_container .top_nav {
  position: absolute;
  top: 10px;
  display: flex;
}

.nav_container .top_nav .logo_wrapper {
  align-self: center;
}

.nav_container .logo_wrapper img {
  position: absolute;
  top: 5px;
  left: 0px;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.nav_container .top_nav ul {
  margin: 4px 0px 0px 30px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-self: center;
  width: 300px;
}

.nav_container .top_nav ul li {
  display: inline-block;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  margin: 3px;
  text-transform: uppercase;
  color: rgba(34, 35, 43, 0.4);
}

.nav_container .top_nav ul li a {
  position: relative;
  color: black;
  text-decoration: none;
  padding: 5px 0;
  transition: 0.2s;
}

.nav_container .top_nav ul li a:hover {
  color: #00c98d;
}

.nav_container .top_nav ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: black;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}

.nav_container .top_nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

/* * * * * E N D * T O P * N A V * * * *  */

/* * * * * R A I G H T *  N A V * * * * */

.nav_container .right_nav {
  top: 10px;
  right: 0px;
  position: absolute;
  width: 12%;
}

.nav_container .right_nav ul {
  position: absolute;
  width: 100px;
  right: 0px;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-content: center;
  list-style: none;
}

.nav_container .right_nav ul li {
  display: flex;
  align-self: center;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  text-transform: uppercase;
  color: #22232b;
}

.nav_container .right_nav ul li img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.nav_container .cart_items {
  position: absolute;
  justify-self: flex-end;
  align-self: flex-end;
  font-size: 0.8em;
  text-align: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #00c98d;
  color: white;
  display: block;
}

/* * * * * * * * * * * * * * * * * * *  */

/* * * * * * *  Search Nav * * * * * *  */

.search_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-top: 100px;
}

.search_wrapper {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid rgba(151, 151, 151, 0.4);
  width: 60%;
}

.search_wrapper img {
  display: flex;
  align-self: center;
}


/* ****** - - - - - DropDown Menu - - - - -******* */

.dropdown {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}

.bestMatchContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(151, 151, 151, 0.4);
  width: 100%;
  height: 40px;
}

.dropdown .dropdownBtn {
  display: flex;
  align-self: center;
}

.dropdown p {
  display: flex;
  align-self: center;
  margin-bottom: 10px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #22232b;
}

.sortBy_dropdown {
  position: absolute;
  padding: 0;
  background-color: white;
  top: 50px;
  min-width: 200px;
  list-style: none;
  z-index: 1;
}

.sortBy_dropdown li {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  margin: 10px;
  font-size: 15px;
  line-height: 25px;
  color: #22232b;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * G A L L E R I A * * * * * * * * * */

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  position: relative;
  margin: auto;
  max-width: 1375px;
  margin-top: 50px;
  height: 80%;
  overflow: hidden;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  padding: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;

  max-height: 1000px;
  background: rgb(0, 0, 0);
  /* Fallback color */
  background: rgba(0, 0, 0, 0.2);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
}

.text h2 {
  margin: 0;
  background-clip: text;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 66px;
  color: #ffffff;
}

.text h3 {
  margin: 0;
  font-family: Avenir;
  font-style: normal;
  text-decoration: underline;
  font-weight: normal;
  font-size: 26px;
  line-height: 36px;
  color: #ffffff;
}

.active,
.dot:hover {
  background-color: #717171;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *  */

/* * * * * * * * * * * F O O T E R * * * * * * * * * * * * */
hr {
  max-width: 1375px;
  margin-top: 100px;
  border: 1px soli;
  background: #1b1b1b;
  mix-blend-mode: normal;
  opacity: 0.1;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

footer {
  max-width: 1375px;
  float: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
}

.footer_nav_container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  bottom: 121px;
}

/* * * * * * * * M A I N * F O O T E R * N A V * * * * *   */
.footer_main_nav {
  width: 50%;
}

.footer_nav_container .footer_main_nav ul {
  display: flex;
  justify-content: space-between;
  align-self: center;
  list-style: none;
}

.footer_nav_container .footer_main_nav ul li {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #22232b;
}

/* * * * * * * Social Networks Icons Nav * * * * * *  */

.footer_nav_container .footer_social_nav {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 10%;
}

.social_wrapper {
  width: 25px;
  height: 25px;
}

.social_wrapper img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/* * * * * * * * * * M O B I L E * * * * * * * * * * * * * **/

@media screen and (max-width: 600px) {
  label #btn {
    transition: all 0.4s;
    display: block;
  }

  label #cancel {
    display: none;
  }

  /* * * * L E F T * N A V * * * M O B I L E * * *  */

  .nav_container {
    position: relative;
    width: 100%;
  }

  .nav_container .top_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    top: 150px;
    left: -110%;
    text-align: left;
    margin: 0;
    padding: 50px;
    transition: all 0.2s;
  }

  .nav_container .top_nav ul li {
    margin-top: 40px;
    line-height: 40px;
  }

  .nav_container .top_nav ul li a {
    margin: 0;
    font-size: 25px;
    color: white;
  }

  .nav_container .right_nav ul .login {
    display: none;
  }

  /* * * * R I G H T * N A V * M O B I L E * * *   */
  .nav_container .right_nav {
    position: absolute;
    right: 10%;
    background-color: blueviolet;

  }

  .nav_container .right_nav ul {
    position: relative;

  }

  .nav_container .right_nav ul .cart {
    position: absolute;
    top: 30px;
    right: 100px;
    width: 100px;
    height: 45px;
  }

  .nav_container .right_nav ul .cart img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
  }

  .search_wrapper {
    display: block;
    position: absolute;
  }

  .dropdown {
    display: none;
  }

  .search_container .search_wrapper {
    position: absolute;
    margin-left: 40px;
    padding: 10px;
    top: 140px;
    left: 0;
    transition: all 0.4s;
    width: 500px;
  }

  /* * * * C A R O U S E L * M O B I L E * *  * */

  .galleria {
    position: absolute;
    margin-top: 50px;
    width: 100%;
    left: 0;
    transition: all 0.4s;
  }


  .slideshow-container .prev,
  .next {
    display: none;
  }

  /* * * * F O O T E R * * *  M O B I L E * * *  */

  hr {
    display: none;
  }

  footer {
    position: relative;
    top: 900px;
    bottom: 0px;
    min-width: 470px;
    min-height: 200px;
    float: center;
    margin: auto;
    left: 0;
    transition: all 0.4s;
  }

  .footer_nav_container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .footer_main_nav {
    width: 50%;
  }

  .footer_nav_container .footer_main_nav ul {
    position: absolute;
    left: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 70px;
    width: 450px;
  }

  .footer_nav_container .footer_main_nav ul li {
    font-display: flex;
    justify-content: center;
    text-align: center;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #22232b;
    width: 200px;
    margin-top: 20px;
  }

  .footer_nav_container .footer_social_nav {
    position: absolute;
    left: 160px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    width: 250px;
    height: 50px;
  }

  .social_wrapper {
    width: 40px;
    height: 40px;
  }

  .social_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  /* * * *  M E N U * M O B I L E * * *  */

  #check:checked~label #cancel {
    right: 50px;
    display: block;
  }


  #check:checked~label #btn {
    display: block;
    right: 500px;
    transition: all 0.4s;
  }

  #check:checked~.nav_container .top_nav ul {
    left: 0;
  }

  #check:checked~.nav_container .right_nav ul .cart {
    display: none;
  }

  #check:checked~.search_container .search_wrapper {
    left: -100%;
  }

  #check:checked~.galleria {
    left: -110%;
  }

  #check:checked~hr {
    display: none;
  }

  #check:checked~footer {
    left: -100%;
  }
}